.jfx-combo-box .cell {
    -fx-text-fill: #3c3f41;
    -fx-font-family: SansSerif;
    -fx-font-weight: bold;
    -jfx-focus-color: #bbbbbb;
    -jfx-unfocus-color: #bbbbbb;
}

.jfx-combo-box {
        -jfx-focus-color: #bbbbbb;
        -jfx-unfocus-color: #bbbbbb;
}

.combo-box .combo-box-popup .list-cell:hover {
    -fx-background-color:  #494949 ;
}

.combo-box .combo-box-popup .list-cell:selected {
    -fx-background-color: #444444;
}

.combo-box .combo-box-popup .list-cell{
    -fx-background-color: #606060 ;
    -fx-border-color:#606060;

}

.chart-plot-background {
    -fx-background-color: transparent;
}

.default-color0.chart-line-symbol { -fx-background-color: #bbbbbb, transparent; }
.default-color0.chart-series-line { -fx-stroke: white; }
.default-color1.chart-line-symbol { -fx-background-color: #bbbbbb, transparent; }
.default-color1.chart-series-line { -fx-stroke: white; }

.axis:left {
    -fx-border-color: transparent #bbbbbb transparent transparent;
}
.axis:bottom{
    -fx-border-color: #bbbbbb transparent transparent;
}

.chart-bar { -fx-bar-fill: #6e7477; }

.default-color0.chart-bar { -fx-bar-color: #bdc0c2; }

.axis {
    -fx-tick-label-fill: #bbbbbb;
    -fx-font-family: SansSerif;
    -fx-font-weight: bold;
    -fx-tick-label-rotation: 45;
}

.scroll-pane{
    -fx-background-color: #606060;
}
.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color: #606060;
    -fx-border-color: #606060;
    -fx-background-radius: 0em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: #444444;
    -fx-background-radius: 5em;
}

.increment-button, .decrement-button {
    -fx-background-color: #606060;
    -fx-border-color: #444444;
}

.scroll-pane > .corner {
    -fx-background-color: #606060;
}

.axis-tick-mark {
    -fx-stroke: #BBBBBB;
}
.axis-minor-tick-mark {
    -fx-stroke: #BBBBBB;
}

.tick-label{
    -fx-rotate: 45;
}

.text {
    -fx-fill: #FFFFFF;

}

.image-view-dashboard{
    -fx-image: url("../img/dashboard3Light.png")
}

.image-view-database{
    -fx-image: url("../img/database3Light.png")
}

.image-view-compare{
    -fx-image: url("../img/compareLight.png")
}

.image-view-settings{
    -fx-image: url("../img/settingsLight.png")
}

.image-view-profile{
    -fx-image: url("../img/profile3Light.png")
}

.image-view-exit{
    -fx-image: url("../img/exitLight.png")
}

.image-view-filter{
    -fx-image: url("../img/filterLight.png")
}

.image-view-export{
    -fx-image: url("../img/exportiLight.png")
}

.image-view-check{
    -fx-image: url("../img/checkLight.png")
}

.default-color0.chart-pie { -fx-pie-color: #565a5d; }
.default-color1.chart-pie { -fx-pie-color: #6e7477; }
.default-color2.chart-pie { -fx-pie-color: #888d91; }
.default-color3.chart-pie { -fx-pie-color: #a2a6a9; }
.default-color4.chart-pie { -fx-pie-color: #bdc0c2; }
.default-color5.chart-pie { -fx-pie-color: #d7d9da; }

.chart-pie-label {
    -fx-fill: #BBBBBB;
    -fx-font-size: 1em;
    -fx-font-family: SansSerif;

}

.chart-pie{
    -fx-background-insets: 0;
    -fx-border-width: 0;
}

.pane1 {
    -fx-background-color: #444444;
}

.pane2 {
    -fx-background-color: #606060;
}

.chart-plot-background {
    -fx-background-color: transparent;
}

.chart-vertical-grid-lines {
    -fx-stroke: transparent;
}

.rectangle{
    -fx-fill : #bbbbbb;
}

.line{
    -fx-fill: #bbbbbb;
    -fx-stroke: #bbbbbb;
}

.pane-sides{
    -fx-background-color: #494949;
}

.chart-horizontal-grid-lines {
    -fx-stroke: transparent;
}

.jfx-button{
    -jfx-disable-visual-focus: true;
}

.jfx-button-custom{
         -fx-background-color: #606060;
         -fx-text-fill: #BBBBBB;
}

.jfx-dialog-overlay-pane > StackPane {
    -fx-background-color: #606060;
}


.table-views {
    -fx-background-color: #606060;
        -fx-font-family: SansSerif;

}

.tree-table-row-cell:selected {
    -fx-background-color: #494949;
        -fx-font-family: SansSerif;
}

.tree-table-row-cell {
    -fx-background-color: #606060;
    -fx-font-family: SansSerif;
   // -fx-border-color: black;
}

.jfx-toggle-node{
    -fx-background-color: #606060;
    -fx-background-radius: 40;
    -jfx-rippler-fill: yellow;
}

.jfx-toggle-node:selected{
    -fx-background-color: #494949;
}


